/* Navbar styling */
#navbar{
    display: flex;
    justify-content: space-between;

}

/* Main text styling */
#carousel{
    display: flex;
    justify-content: space-evenly;
}


#carousel-text{
    width: 555px;
    height: 347px;
}

#carousel-text h1{
    font-size: 72px;
}

#carousel-text h2{
    font-size: 22px;
}

/* Sign Up Form Styling */

#sign-up-form{
    margin-top: 5em;
    border-radius: 20em;
    width: 420px;
    height: 366px;
}

#sign-up-form h1{
    text-align: center;
}

#all-form-items {
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px;
}

.form-item {
    height: 35px;
    justify-content: center;
    padding: 1em;
    border-bottom: solid; 
    border-color: lightgray;
    border-bottom-width: 1px;
}

.form-item input {
    width: 100%;
    font-size: 25px;
    border-width:0px;
    border: none;
}

#sign-up-bttn {
    width: 100%;
    font-size: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #7aa7f5;
    color: white; 


}

/* Footer Styling */
#footer{
    margin-top: 13em;
    display: flex;
    justify-content: space-between;
}

#all-footer-items{
    width: 477px;
    display: flex;
    justify-content: space-evenly
}